.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f6f5fb;
}

.login-container {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-title {
    margin-bottom: 1.5rem;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form a {
    text-decoration: none;
    color: inherit;
}

.login-form a:hover {
    color: #ccc;
}

.login-label {
    margin-bottom: 0.5rem;
    text-align: left;
}

.login-input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}