.profile-management h2 {
    font-size: 1.75rem;
    color: #343a40;
}

.profile-management .table {
    background-color: #ffffff;
}

.profile-management .table thead {
    background-color: #343a40;
    color: #ffffff;
}

.profile-management .table th,
.profile-management .table td {
    vertical-align: middle;
}

.profile-management .btn {
    margin-right: 5px;
}

.profile-management-nav-bar {
    background-color: #f8f9fa;
}

.profile-management-nav-bar .nav-link {
    color: #aab1bc;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    display: block;
    width: 100%;
    max-width: 120px;
    text-decoration: none;
}

.profile-management-nav-bar .nav-link:hover,
.profile-management-nav-bar .nav-link.active {
    background-color: #e7f3ff;
    color: #0056b3;
}

.profile-management-nav-bar .dropdown-toggle::after {
    margin-left: 0.5rem;
}

.profile-management-nav-bar .dropdown-menu {
    border-radius: 0.25rem;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.profile-management-nav-bar .dropdown-item {
    color: #99a6c3
}

.profile-management-nav-bar .dropdown-item:hover {
    background-color: #e7f3ff;
    color: #99a6c3
}